/*Graph and Company Data Together*/
#company-page-graph-and-data-section {
  display: flex;
  flex-direction: row;
  width: 95%;
}

/*Graph Container*/
#company-page-company-stock-graph {
  width: 46%;
  height: 33rem;
}

/*Company Data Container*/
#company-page-company-data-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 33rem;
}

/*The outtermost DIV container in the actual returned JSX for company data*/
#company-page-company-data-section-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  gap: 1rem;
  padding-left: 1rem;
}

/*The container for each one of the boxes*/
.stock-data-element {
  width: 45%;
  font-size: 1.25rem;
  padding: 1.5rem 1.5rem;
  border-radius: 1rem;
  background-color: hsla(230, 21%, 23%, 0.533);
  border: 0.2rem solid hsla(0, 0%, 0%, 0.25); /* White border with 2px thickness */
  color: rgb(255, 255, 255);
}

.stock-data-element p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 0rem 1rem;
}

.stock-units {
  color: hsl(0, 0%, 100%);
  font-size: 1.25rem;
  margin-left: auto;
  font-weight: 600;
}
