#company-page-company-stock-graph-container-outer {
  background-color: hsla(230, 21%, 23%, 0.533);
  padding: 1rem;
  border-radius: 1rem; /* Rounded corners */
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0.2rem solid hsla(0, 0%, 0%, 0.25); /* White border with 2px thickness */
}

#company-page-stock-graph-container {
  padding: 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
}

#company-page-stock-graph-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: start;
  gap: 0.5rem;
}

#company-page-stock-graph-buttons button {
  background-color: hsla(0, 0%, 100%, 0);
  padding: 0.4rem 1rem;
  border-radius: 1rem;
  color: white;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 1rem;
  font-weight: 600;
}

#company-page-stock-graph-buttons button.active,
#company-page-stock-graph-buttons button:hover {
  transform: scale(1.05);
  background-color: hsl(231, 69%, 43%);
}
