.market-overview {
    margin: 20px;
    background-color: radial-gradient(circle at top left, var(--primary-color), hsl(222, 20%, 20%));
    padding: 20px;
    border-radius: 10px;
    color: var(--inner-font-color);
    overflow-x: auto;
    white-space: nowrap;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--inner-font-color);
}

.cards {
    display: inline-flex;
    gap: 15px;
}

.card {
    flex: 0 0 auto;
    min-width: 250px;
    background: var(--secondary-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease, background-color 0.3s ease;
    color: var(--inner-font-color);
}

.card:hover {
    transform: scale(1.02);
    background-color: var(--accent-color);
}

.card h3 {
    margin: 0;
    color: var(--inner-font-color);
}

.card p {
    margin: 5px 0;
    color: var(--inner-font-color);
}

.loading,
.error {
    text-align: center;
    font-size: 18px;
    color: var(--accent-color);
}