#report-analysis-page {
  background: radial-gradient(circle at top left, var(--primary-color), var(--cool-blue));
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
  color: var(--inner-font-color);
  font-family: "Arial", sans-serif;
}

#report-analysis-page-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/*Second Child*/

#report-analysis-page-table-container {
  width: 48%;
  max-height: 50rem;
  overflow-y: scroll;
  border: solid hsla(229, 21%, 16%, 0.533) 1rem;
  border-radius: 2rem;
}

#report-analysis-page-table-container::-webkit-scrollbar {
  width: 0.75rem;
  margin: 1rem;
}

#report-analysis-page-table-container::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-radius: 0.5rem;
}

#report-analysis-page-table-container::-webkit-scrollbar-thumb {
  background: #5d5a85;
  border-radius: 0.5rem;
}

#report-analysis-page-table-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#report-analysis-page-table {
  background-color: hsla(245, 43%, 27%, 0.1);
  border-collapse: collapse;
  table-layout: auto;
}

#report-analysis-page-table thead th {
  background-color: hsla(0, 0%, 100%, 0.9);
  position: sticky;
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  text-align: center;
  padding: 1rem;
}

#report-analysis-page-form-section-header {
  width: 62%;
}

#report-analysis-page-table th,
td {
  word-wrap: break-word;
  white-space: normal;
  border-bottom: 0.1rem solid hsla(0, 0%, 100%, 0.25);
}

#report-analysis-page-table tbody tr {
  transition: background-color 0.3s;
}

#report-analysis-page-table tbody tr:hover {
  background-color: hsla(0, 0%, 100%, 0.5);
}

#report-analysis-page-table tbody td {
  padding: 0.75rem 0rem 0.75rem 1rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: hsla(0, 0%, 100%, 0.9);
}

.report-analysis-page-button-column {
  text-align: center;
}

.report-analysis-page-table-button {
  background-color: hsla(0, 0%, 100%, 0.9);
  border: none;
  color: hsla(0, 0%, 0%, 0.9);
  padding: 0.6rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 1rem;
  cursor: pointer;
  margin: 0.25rem;
  transition: background-color 0.5s;
}

/*Third Child*/
#report-report-content-container {
  margin-bottom: 2rem;
  width: 48%;
  max-height: 50rem;
  background-color: hsla(229, 21%, 16%, 0.533);
  border-radius: 2rem;
  padding: 1rem;
}

#report-report-content {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  border-radius: 1rem;
  position: relative;
}

#report-report-content::-webkit-scrollbar {
  width: 0.75rem;
  margin: 1rem;
}

#report-report-content::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-radius: 0.5rem;
}

#report-report-content::-webkit-scrollbar-thumb {
  background: #483bf7;
  border-radius: 0.5rem;
}

#report-report-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#report-report-content-header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: hsl(249, 40%, 19%);
}

#report-report-content-header h3 {
  font-size: 1.25rem;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

#report-report-content-header button {
  background-color: hsla(0, 0%, 100%, 1);
  border: none;
  color: hsla(0, 0%, 0%, 1);
  padding: 0.6rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.5s;
}

#report-report-content-header button.active,
#report-report-content-header button:hover {
  transform: scale(1.05);
  background-color: hsl(231, 69%, 43%);
}

#report-analysis-page-translation-section {
  background-color: hsla(0, 0%, 100%, 1);
  color: black;
  padding: 1rem;
  width: 100%;
}

#report-analysis-page-translation-text {
  font-size: 1.2rem;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-x: hidden;
  max-width: 100%;
}

#loading-translation {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  height: 100%;
}
